<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>Login PowerDroid</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link href="elegant-icons-style.css" rel="stylesheet"/>
  <link href="style.css" rel="stylesheet">

  <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
</head>

<body>
<!-- container section start -->
<section id="container" class="">


  <header class="header dark-bg">
    <div class="toggle-nav">
      <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
    </div>

    <!--logo start-->
    <a href="index" class="logo">Power <span class="lite">DROID</span></a>
    <!--logo end-->

    <div class="nav search-row" id="top_menu">
      <!--  search form start -->
      <!--  search form end -->
    </div>

    <div class="top-nav notification-row">
      <ul class="nav pull-right top-menu">
      </ul>
      <!-- notificatoin dropdown end-->
    </div>
  </header>
  <!--header end-->

  <!--sidebar start-->
  <aside>
    <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" href="index">
            <i class="icon_house_alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon_drawer_alt"></i>Fichiers de test
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="filemanaging">Ajout de fichiers de test</a></li>
            <li><a href="filemanaging-view">Visualiser fichiers de tests</a></li>
          </ul>
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->

  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <!--overview start-->





      </div><!--/.row-->
      <div class="row">
        <section class="panel">
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <div id="linechart_material"></div>
          <script>
            google.charts.load('current', {'packages':['line']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

              var data = new google.visualization.DataTable();
              data.addColumn('number', 'Time(sec)');
              data.addColumn('number', 'Watts(W)');
              data.addColumn('number', 'Intensité(mA)');

              data.addRows([
                [1,  37.8, 80.8],
                [2,  30.9, 69.5],
                [3,  25.4,   57],
                [4,  11.7, 18.8],
                [5,  11.9, 17.6],
                [6,   8.8, 13.6],
                [7,   7.6, 12.3],
                [8,  12.3, 29.2],
                [9,  16.9, 42.9],
                [10, 12.8, 30.9],
                [11,  5.3,  7.9],
                [12,  6.6,  8.4],
                [13,  4.8,  6.3],
                [14,  4.2,  6.2]
              ]);

              var options = {
                chart: {
                  title: 'Resultat de consommation de l\'application {title}'
                },
                width: 900,
                height: 500
              };

              var chart = new google.charts.Line(document.getElementById('linechart_material'));

              chart.draw(data, options);
            }
          </script>

        </section>
      </div>
      </br>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
          </section>
        </div>
      </div>


      <!-- Today status end -->




      <!-- statics end -->



      <!-- project team & activity end -->

    </section>
  </section>
  <!--main content end-->
</section>
</body>
</html>
